In [2]:
import pandas as pd

orders = pd.read_csv('orders.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [3]:
orders = orders.sample(1000000)
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1106897,132487,66604,prior,37,0,22,13.0
215998,3302783,13049,prior,9,2,10,7.0
3119748,916877,188090,prior,7,0,15,11.0
226285,864312,13683,prior,6,6,12,30.0
442355,1925667,26620,prior,24,3,20,9.0

In [4]:
orders.to_csv("orders.csv", index=False)

In [2]:
orders = pd.read_csv('order_products__prior.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [3]:
orders = orders.sample(1000000)
orders.head()

          order_id  product_id  add_to_cart_order  reordered
3322989     350960       24852                  3          1
32149240   3391092       22935                 21          1
24559663   2590244       47977                  4          0
18050767   1903984       47492                  9          0
2600928     274305       21978                 16          0

In [4]:
orders.to_csv("order_products__prior.csv", index=False)